*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6f4f4;
}

.content{
    background-color: #fcfcfc;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    width: 500px;
    text-align: center;
    border: 2px solid #000;
}

h1{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-left: 70px;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.button{
    width: 40%;
    padding: 10px;
    background-color: #49b0ac;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #000;

}

.button:hover {
    background-color: #000;
    color: white;
}


/* userlist */
.container {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    border: 2px solid #000;
    overflow: hidden;
}
.users-list{
    width: 30%;
    border-right: 1px solid #ddd;
    padding: 20px;
    background-color: #48b0a9;
}

.users-list h2 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 3rem;
}

.users-list ul {
    list-style: none;
    padding: 0;
}

.users-list ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.users-list ul li:hover {
    background-color: #e6f4f4;
}
